/* stylelint-disable selector-max-compound-selectors */
/* stylelint-disable selector-max-combinators */
/* stylelint-disable selector-max-class */
.content {
  position: relative;

  .container {
    padding-top: 100px;
    padding-bottom: 180px;
    display: flex;
    gap: 135px;
    justify-content: space-between;

    .sidebar {
      max-width: 390px;
    }

    .article {
      display: flex;
      flex-direction: column;
      gap: 80px;

      .content__item {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }

      .content__stats {
        display: flex;
        gap: 60px;
      }

      .content__sub-title {
        margin-top: 56px;
        font-weight: 700;
        font-size: 20px;
        color: var(--color-gray-900);
      }

      .content__image {
        margin-top: 56px;
      }

      .content__image-shape {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="706" height="536" viewBox="0 0 706 536"><defs><linearGradient id="grad" x1="898.114" y1="202.067" x2="239.692" y2="408.568" gradientUnits="userSpaceOnUse"><stop stop-color="%23F4F5F6" stop-opacity="0"/><stop offset="1" stop-color="%23F4F5F6"/></linearGradient></defs><path d="M693.518 324.815C699.353 248.686 717.182 174.01 637.586 105.073C558.166 36.2885 472.418 64.0506 361.739 37.4666C241.149 8.50199 204.905 -18.3084 148.065 16.4082C79.9544 58.0087 103.99 88.3848 42.6138 175.098C28.4413 195.121 -54.1059 289.378 57.7652 386.955C142.124 445.359 198.001 465.113 301.935 490.37C417.656 518.492 544.495 546.18 649.01 530.634C746.117 516.188 687.86 398.633 693.518 324.815Z" fill="url(%23grad)"/></svg>');
        background-position: center, center;
        background-size: contain, contain;
        background-repeat: no-repeat;
      }

      .content__title {
        font-weight: 900;
        font-size: 32px;
        color: var(--color-gray-900);
      }

      .content__description {
        color: var(--color-gray-800);
      }
    }
  }

  .content__decorations {
    position: absolute;
    top: 1200px;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;

    .decoration__svg--large {
      position: absolute;
      top: 0;
      right: 0;
      width: 374px;
      height: 959px;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="374" height="959" viewBox="0 0 374 959" fill="none"><path d="M514.165 13.7722C457.199 -11.0069 402.69 1.5616 350.885 29.6085C299.061 57.6666 250.04 101.16 204.057 138.128C157.032 175.936 101.268 214.894 59.9815 260.802C18.7143 306.688 -8.00656 359.434 2.98128 424.777C13.6523 488.236 60.1484 523.471 115.821 553.859C129.737 561.455 144.217 568.743 158.847 576.093C173.474 583.441 188.251 590.851 202.75 598.686C231.746 614.355 259.652 631.735 283.071 653.758C308.745 677.9 330.039 708.632 349.576 741.217C359.346 757.511 368.68 774.276 377.902 790.916C387.125 807.56 396.238 824.078 405.569 839.892C442.917 903.189 483.652 954.961 548.671 958.081C617.996 961.407 683.896 926.13 735.689 872.011C787.479 817.895 825.11 744.991 837.902 673.193C848.947 611.198 820.722 557.387 782.377 504.226C763.198 477.637 741.54 451.277 721.001 424.114C700.477 396.971 681.104 369.066 666.575 339.475C652.645 311.102 643.012 279.518 634.68 247.377C626.341 215.212 619.317 182.537 610.583 151.866C593.119 90.5355 568.914 37.5867 514.165 13.7722Z" stroke="%2300F0B5"/></svg>');
    }

    .decoration__svg--medium {
      position: absolute;
      top: 100px;
      right: 0;
      width: 285px;
      height: 755px;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="285" height="755" viewBox="0 0 285 755" fill="none"><path d="M404.78 10.9403C359.97 -8.55081 317.09 1.32997 276.318 23.404C235.525 45.4893 196.94 79.7238 160.73 108.836C123.696 138.609 79.8044 169.274 47.3055 205.41C14.8256 241.526 -6.19177 283.024 2.45212 334.428C10.8452 384.34 47.4121 412.061 91.2407 435.984C102.195 441.963 113.594 447.7 125.113 453.487C136.629 459.273 148.266 465.108 159.683 471.277C182.516 483.616 204.498 497.305 222.946 514.654C243.171 533.673 259.943 557.879 275.327 583.538C283.02 596.369 290.37 609.569 297.631 622.671C304.893 635.776 312.067 648.78 319.412 661.229C348.82 711.069 380.866 751.779 431.994 754.232C486.536 756.849 538.394 729.094 579.159 686.498C619.922 643.904 649.541 586.522 659.608 530.013C668.297 481.246 646.099 438.91 615.911 397.059C600.81 376.124 583.763 355.378 567.587 333.986C551.427 312.613 536.169 290.635 524.725 267.327C513.753 244.979 506.166 220.103 499.606 194.795C493.039 169.463 487.51 143.746 480.634 119.598C466.885 71.3125 447.837 29.6692 404.78 10.9403Z" stroke="%2300F0B5"/></svg>');
    }

    .decoration__svg--small {
      position: absolute;
      top: 155px;
      right: 0;
      width: 221px;
      height: 608px;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="221" height="608" viewBox="0 0 221 608" fill="none"><path d="M325.749 8.89495C289.723 -6.77571 255.244 1.16418 222.442 18.923C189.62 36.6928 158.576 64.2374 129.426 87.6728C99.6124 111.642 64.297 136.313 38.1471 165.39C12.0164 194.446 -4.87953 227.817 2.07077 269.15C8.81784 309.274 38.2115 331.565 73.4825 350.817C82.2972 355.628 91.4702 360.245 100.741 364.903C110.01 369.559 119.377 374.256 128.567 379.223C146.947 389.155 164.648 400.178 179.505 414.15C195.793 429.466 209.299 448.958 221.682 469.612C227.875 479.94 233.79 490.566 239.634 501.111C245.48 511.658 251.252 522.124 257.163 532.142C280.833 572.258 306.602 604.974 347.695 606.946C391.555 609.05 433.267 586.731 466.065 552.46C498.861 518.192 522.69 472.025 530.789 426.563C537.775 387.355 519.93 353.309 495.637 319.629C483.483 302.78 469.767 286.089 456.745 268.867C443.737 251.663 431.452 233.968 422.238 215.2C413.402 197.204 407.294 177.175 402.013 156.804C396.726 136.409 392.278 115.72 386.744 96.2847C375.679 57.4252 360.359 23.9495 325.749 8.89495Z" stroke="%2300F0B5"/></svg>');
    }
  }
}
