/* stylelint-disable selector-max-compound-selectors */
/* stylelint-disable selector-max-combinators */
/* stylelint-disable selector-max-class */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 48px;
  position: relative;

  .chapters {
    background-color: var(--color-gray-200);
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 2;

    .chapter__item__title {
      color: var(--color-gray-900);
      font-size: 24px;
      font-weight: bold;
    }

    .chapter__item__description {
      margin-top: 12px;
      font-size: 14px;
      color: var(--color-gray-800);
    }
  }

  .tags {
    display: flex;
    gap: 12px;
  }

  .share {
    display: flex;
    align-items: center;
    gap: 12px;

    .share__title {
      font-weight: 700;
      font-size: 20px;
      color: var(--color-gray-900);
    }

    .social-networks {
      display: flex;
      gap: 12px;
    }
  }

  .sidebar__decorations {
    position: absolute;
    top: 185px;
    right: -115px;
    z-index: 1;
  }

  .decoration__svg {
    position: absolute;
    width: 250px;
    height: 250px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="250" height="250" viewBox="0 0 250 250" fill="none"><path d="M249.431 26.7761C249.431 33.6352 246.859 40.4942 241.648 45.7044L45.6388 241.714C35.2184 252.134 18.2687 252.134 7.8483 241.714C2.76999 236.636 -2.33975e-07 229.909 -3.18914e-07 222.786C-4.03853e-07 215.663 2.76999 208.936 7.8483 203.857L203.858 7.84791C208.936 2.76961 215.597 -0.000384041 222.786 -0.000384126C229.909 -0.000384211 236.636 2.7696 241.714 7.84791C246.859 13.1241 249.431 19.9171 249.431 26.7761ZM1.31904 222.786C1.31904 229.579 3.95712 235.976 8.77163 240.725C18.6644 250.618 34.8227 250.618 44.7155 240.725L240.725 44.7151C250.618 34.8223 250.618 18.664 240.725 8.77124C235.911 3.95672 229.513 1.31866 222.786 1.31866C215.993 1.31866 209.596 3.95672 204.847 8.77124L8.77163 204.847C3.95712 209.595 1.31904 215.993 1.31904 222.786Z" fill="%2300F0B5"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .decoration__svg--top {
    top: 0;
    right: 0;
  }

  .decoration__svg--bottom {
    top: 0;
    right: -50px;
  }
}
