.slider__button {
  width: 24px;
  height: 24px;
  padding: 24px;
  border-radius: 50%;
  overflow: hidden;
  background-image: url('/public/images/full_arrow_black.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition:
    background-color 0.3s ease,
    background-image 0.3s ease;

  &:hover {
    background-color: var(--color-soft-blue);
    background-image: url('/public/images/full_arrow.svg');
  }
}

.slider__prev {
  transform: rotate(180deg);
}

.slider__items {
  position: relative;
  overflow: hidden;
}

.slider__item {
  display: none;
  transition: opacity 0.5s ease;
}

.slider__item-active {
  display: block;
  opacity: 1;
}

.slider__item-animating {
  opacity: 0;
  animation: slide-in 0.5s ease forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
